
* {
    padding: 0;
    margin: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}



body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/*** Sass Variables ***/
$text-gray: #717784;
$text-blue: #1a33bd;

/*** End Sass Variables ***/


/*** 404 Page ***/


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    
}

.nav-brand a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

.nav-list .nav-item {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: $text-gray;

}

.content__404 {
    border: 1px solid #000;
    padding: 3em 5em;
    font-family: 'Raleway', sans-serif;
}

.content__404 
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.content__404 
.container 
.text {
    width: 100%;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.content__404 
.container 
.text h1 {
    font-size: 4.3rem;
    font-weight: 700;
    color: $text-blue;
    margin-bottom: 1rem;
}

.content__404
.container
.text p {
    font-size: 1.2rem;
    font-weight: 500;
    color: $text-blue;
    margin-bottom: 1rem;
}

.content__404 .hero-img {
    border: 2px solid #000;
}

.content__404 .hero-img img {
    width: 100%;
}

.content__404
.container 
.text-two {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content__404
.container 
.text-two a {
    display: flex;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    color: $text-gray;
    font-weight: 500;
    text-decoration: none;
}

.content__404 
.container
.text-two img {
    width: 2rem;
    margin-right: .5rem;
}

/* Media Queries */

/** 412px **/

@media screen and (max-width: 412px) {
    .nav {
        padding: 1rem 2rem;
    }

    .content__404 {
        padding: 2em 2em;
    }

    .content__404
    .container {
        flex-direction: column-reverse;
        
    }

    .content__404
    .container 
    .text {
        width: 100%;
        border: 1px solid #000;
        justify-content: center;
        align-items: center;


    }

    .content__404
    .container
    .text h1 {
        font-size: 3.8rem;
        font-weight: 700;
        color: $text-blue;
        margin-bottom: 1rem;
        text-align: center;
    }

    .content__404
    .container
    .text p {
        font-size: 1.2rem;
        font-weight: 500;
        color: $text-blue;
        margin-bottom: 1rem;
        text-align: center;
    }

    .content__404
    .container 
    .text-two {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .content__404
    .container 
    .text-two a {
        display: flex;
        border: 1px solid #000;
        justify-content: center;
        align-items: center;
        color: $text-gray;
        font-weight: 500;
        text-decoration: none;
    }
}

/** 414px **/

@media screen and (max-width: 420px) {
    .nav {
        padding: 1rem 2rem;
    }

    .content__404 {
        padding: 2em 2em;
    }

    .content__404
    .container {
        flex-direction: column-reverse;
        
    }

    .content__404
    .container 
    .text {
        width: 100%;
        border: 1px solid #000;
        justify-content: center;
        align-items: center;
    }

    .content__404
    .container
    .text h1 {
        text-align: center;
        font-size: 3.5em;
    }

    .content__404
    .container
    .text p {
        text-align: center;
        font-size: 1.2em;
    }

    .content__404
    .container 
    .text-two {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .content__404
    .container 
    .text-two a {
        display: flex;
        border: 1px solid #000;
        justify-content: center;
        align-items: center;
        color: $text-gray;
        font-weight: 500;
        text-decoration: none;
    }

}












/*** End 404 Page ***/