<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../sass/styles.css">
    <title>404 Page</title>
</head>
<body>

    <main>
        <header>
            <nav class="nav">
              <div class="nav-brand">
                <a href="#">Edu</a>
              </div>
              <div class="nav-list">
                <a class="nav-item" href="#">Contact Us</a>
              </div>
            </nav>
        </header>

        <section class="content__404">
            <div class="container">
                <div class="text">
                    <h1>Sorry, this page isn't available</h1>
                    <p>The page you are looking for does not exist.</p>

                    <div class="text-two">
                        <a href="#">
                            <img src="../images/icon-left.png" alt="key">
                            Go back to the home page
                        </a>
                    </div>
                </div>
                <div class="hero-img">
                    <img src="../images/15.svg" alt="404 image">
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>