<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../sass/styles.css">
    <title>Register Page</title>
</head>
<body class="register-body">


    <main>
        <section class="register-section">
            <div class="register-form">
                <div class="brand-logo">
                    <h1>Edu</h1>
                </div>

                <div class="register-title">
                    <h2>Get Started</h2>
                    <p>Enter your details to create an account</p>
                </div>

                <form class="register__form" action="#">
                    <div class="form__group">
                        <label class="form__label" for="name">First Name</label>
                        <input class="form__input" type="text" name="name" id="name" placeholder="Enter your name">
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="name">Last Name</label>
                        <input class="form__input" type="text" name="name" id="name" placeholder="Enter your name">
                    </div>

                    <div class="form__group">
                        <label class="form__label" for="phone">Phone Number</label>
                        <input class="form__input" type="tel" name="phone" id="phone" placeholder="Enter your phone number">
                    </div>

                    <div class="form__group">
                        <label class="form__label" for="email">Email</label>
                        <input class="form__input" type="email" name="email" id="email" placeholder="Enter your email">
                    </div>

                    <div class="form__group">
                        <label class="form__label" for="password">Password</label>
                        <input class="form__input" type="password" name="password" id="password" placeholder="Enter your password">
                    </div>

                    <div class="form__group">
                        <label class="form__label" for="confirm-password">Confirm Password</label>
                        <input class="form__input" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm your password">
                    </div>

                    <div class="form__group">
                        <input class="register-btn" type="submit" value="Create Account">
                    </div>

                    <!-- sign in wth google -->
                    
                    <div class="form__group">
                        <a class="google-btn" href="#">
                            <img src="../images/icon-google.svg" alt="Google icon">
                            Sign in with Google
                        </a>
                

                </form>

                <div class="register-login">
                    <p>Already have an account? <a href="../index.html">Login</a></p>
                </div>

            </div>
        </section>
    </main>
    
</body>
</html>